<div class="post-page">
  <div class="left-slide">
    <div class="top">
      <div class="day-time day-time-spe">
        <div class="e-day">
          <i class="month">FEB</i>
          <span class="day">23</span>
        </div>
        <div class="s-day">2月23日</div>
      </div>
    </div>

    <div class="recent-items">
      <h3>The latest</h3>
      <ul>
        <% @recent_items.each do |item| %>
            <li><a title="<%= item.name %>" href="/item/<%= item.id %>"><%= item.name %></a></li>
        <% end %>
        <li><a href="/site/<%= @item.site_id %>">more...</a></li>
      </ul>

    </div>
  </div>
  <div class="right-content">
    <div class="content">
      <%= raw @item.content %>
    </div>
  </div>
</div>