<% items_group.each do |group| %>
    <div class="day-time">
      <div class="e-day">
        <i class="month">FEB</i>
        <span class="day">23</span>
      </div>
      <div class="s-day"><%= group[:day] %></div>
    </div>
    <% group[:items].each do |item| %>
        <a class="item" href="/item/<%= item.id %>">
          <div class="item-left">
            <i class="iconfont">&#xe637;</i>
            <span><%= item.access_num||0 %></span>
          </div>
          <div class="item-center">
            <h2 class="site-name"><%= item.site.name %></h2>
            <p class="item-name"><%= item.name %></p>
          </div>
          <!--<div class="item-right">-->
            <!--<i class="iconfont">&#xe65b;</i>-->
            <!--<span>12</span>-->
          <!--</div>-->
        </a>
    <% end %>
<% end %>