<% items_group.each do |group| %>
    <div class="day-time">
      <div class="e-day">
        <i class="month"><%= extract_day_e(group[:day]) %></i>
        <span class="day"><%= extract_day_d(group[:day]) %></span>
      </div>
      <div class="s-day"><%= group[:day] %></div>
    </div>
    <% group[:items].each do |item| %>
        <a class="item" href="/item/<%= item.id %>">
          <div class="item-left">
            <i class="iconfont">&#xe637;</i><br>
            <span><%= item.access_num||0 %></span>
          </div>
          <div class="item-center">
            <h2 class="site-name"><%= item.site.name %></h2>
            <p class="item-name"><%= item.name %></p>
          </div>
        </a>
    <% end %>
<% end %>