<%= render 'share/menu' %>
<div class="all-sites" data-module="all-sites">
  <div class="function-bar">
    <div class="search"><input type="text" class="search-input" id="jets-search" placeholder="search">
      <i class="iconfont">&#xe601;</i>
    </div>
    <% if login? %>
        <div class="filter" data-type="filter-btn">
          <a href="javascript:;" class="active" data-filter="all">全部的</a>
          <a href="javascript:;" data-filter="yes">已订阅</a>
          <a href="javascript:;" data-filter="no">未订阅</a>
        </div>
    <% end %>
  </div>
  <div class="ul-wrapper">
    <ul id="jets-content">
      <% @sites.each do |site| %>
          <li class="site-item <%= (@user_site_ids.include? site.id) ? 'yes-item' : 'no-item' %>">
            <a href="/site/<%= site.id %>">
              <span class="name"><%= site.name %></span>
              <% if login? %>
                  <div id="site_sub_<%= site.id %>" class="subs <%= (@user_site_ids.include? site.id) ? 'yes-status' : 'no-status' %>">
                    <div data-site-id="<%= site.id %>" class="cancel-btn" data-type="cancel-btn">
                      <i class="iconfont">&#xe6d1;</i>取消
                    </div>
                    <div data-site-id="<%= site.id %>" class="add-btn" data-type="add-btn">
                      <i class="iconfont">&#xe6ce;</i>订阅
                    </div>
                  </div>
              <% end %>
            </a>
          </li>
      <% end %>
    </ul>
  </div>
</div>