<div><%= @site.name %></div>
<ul >
  <% @items.each do |item| %>
      <li><a href="/item/<%= item.id %>"><%= item.name %></a></li>
      <div> <%= time_interval(item.created_at)%></div>
  <% end %>
</ul>
<%= will_paginate @items%>