<!DOCTYPE html>
<html>
<head>
  <title>WeeklyCafe</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <script type="text/javascript" charset="utf-8">
      var AUTH_TOKEN = '<%=  form_authenticity_token%>';
  </script>
</head>
<body>
<%= render 'share/top_bar' %>
<%= yield %>
<%= render 'share/about_bar' %>
<%= render 'share/to_top' %>
</body>
</html>
