<!DOCTYPE html>
<html>
<head>
  <title>WeeklyCafe</title>
  <meta name="Keywords" content="weekly,weekly技术周刊,weekly大全,weekly导航,JavaScript Weekly,Node Weekly,Ruby Weekly">
  <meta name="description" content="weeklycafe 是一个对weekly技术周刊站点进行聚合展示的网站，它每天会自动检测用户订阅过的weekly站点，按更新日期进行汇总展示。">
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <script type="text/javascript" charset="utf-8">
      var AUTH_TOKEN = '<%=  form_authenticity_token%>';
  </script>
</head>
<body>
<%= render 'share/top_bar' %>
<%= yield %>
<%= render 'share/about_bar' %>
<%= render 'share/to_top' %>
<script src="http://s4.cnzz.com/z_stat.php?id=1261418943&web_id=1261418943" language="JavaScript"></script>
</body>
</html>
